/.ipynb_checkpoints
/.vscode
/clean1.data
/Lines
/musk.jld2
/test.jl
/Test_code
/URL_Classification.ipynb
/JLD2_dicts&lines/bag_indx_parts.jld2
/JLD2_dicts&lines/dict_hashed.jld2
/JLD2_dicts&lines/dict.jld2
/JLD2_dicts&lines/histogram_dict.jld2
/labels.jld2
/copy.jl